$primary-color: green;
$bg-dark: #333;
$logo-height: 100px;
$header-height: 100px;
$aside-width: 255px;
$footer-height: 40px;

$shadow: 
    0 2px 23px 0 rgba(0, 0, 0, 0.1),
    0 2px 49px 0 rgba(0, 0, 0, 0.06);