@import '../../../assets/style/variables';
@import '../../../assets/style/mixins';

.menu-area {
    grid-area: menu;
    background-color: $bg-dark;
    box-shadow: $shadow;

    .menu {
        a {
            display: block;
            text-decoration: none;
            color: #fff;
            padding: 15px;
            font-weight: 300;

            &:hover {
                background: green;
            }
        }

        @include device(mobile) {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 100%;

            a {
                display: inline;
                padding: 10px;
                margin: 0;
            }
        }
    }
}