@import '../../../assets/style/variables';

.header {
    grid-area: header;

    background-color: #fff;
    padding: 0 15px;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: $shadow;
 
    h1 {
        font-size: 1.8em;
    }

}