.input {
  position: relative;
  display: grid;
  padding-top: 25px;

  label {
    position: absolute;
    top: 35px;
    left: 10px;
    font-size: 1rem;
    color: #222;
    transition: all .3s ease-out;

    &.focused {
      top: 0;
      left: 0;
      font-size: .9rem;
    }
  }

  input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid lightgray;
    border-radius: 4px;
    outline: none;
    transition: all .3s ease-out;

    &:focus {
      border: 1px solid gray;
    }

  }
}