$bg-dark: #1A2F3A;
$logo-height: 100px;
$header-height: 100px;
$aside-width: 255px;
$footer-height: 40px;

$shadow: 
    0 2px 23px 0 rgba(0, 0, 0, 0.1),
    0 2px 49px 0 rgba(0, 0, 0, 0.06);

.app {
    margin: 0px;
    display: grid;
    grid-template-columns: $aside-width 1fr;
    grid-template-rows: $header-height 1fr $footer-height;
    grid-template-areas: 
        "logo header"
        "menu content"
        "menu footer";
    height: 100vh;
    background-color: #F5F5F5;
}

.logo-create-user {
    color: green;
}