@import '../assets/style/variables';

.app {
    margin: 0px;
    display: grid;
    grid-template-columns: $aside-width 1fr;
    grid-template-rows: $header-height 1fr $footer-height;
    grid-template-areas: 
        "logo header"
        "menu content"
        "menu footer";
    height: 100vh;
    background-color: #F5F5F5;
}

.logo-create-user {
    color: $primary-color;
}