@import '../assets/style/variables';
@import '../assets/style/mixins';

.app {
    margin: 0px;
    display: grid;
    grid-template-columns: $aside-width 1fr;
    grid-template-rows: $header-height 1fr $footer-height;
    grid-template-areas: 
        "logo header"
        "menu content"
        "menu footer";
    height: 100vh;
    background-color: #F5F5F5;

    @include device(medium) {
        grid-template-rows: 
            $header-height
            $menu-top-hight
            1fr
            $footer-height;
        grid-template-columns: $aside-width 1fr;
        grid-template-areas: 
            "logo header"
            "menu menu"
            "content content"
            "footer footer";        
    }

    @include device(small) {
        grid-template-rows: 
            $logo-height
            $menu-top-hight
            1fr
            $footer-height;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "logo"
            "menu"
            "content"
            "footer";        
    }
}

.logo-create-user {
    color: $primary-color;
}